.image-slider {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 240px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
}
.image-slider .container {
    overflow-x: hidden;
    width: 320px;
    height: 240px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    scroll-behavior: smooth;
}
.image-slider .container .image-runner {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
}
.image-slider .container .image-runner figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}
.image-slider .container .image-runner figure img {
    max-height: 100%;
    max-width: 100%;
}
.image-slider .navigation-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-sizing: border-box;
    pointer-events: none;
}
.image-slider .navigation-buttons > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    color: transparent;
    pointer-events: auto;
}
.image-slider .navigation-buttons > button:hover {
    background-color: rgba(255, 255, 255, 1);
}
.image-slider .navigation-buttons button.previous-button {
    left: 2%;
}
.image-slider .navigation-buttons button.next-button {
    right: 2%;
}
.image-slider .navigation-buttons > button > span {
    display: none;
}
.image-slider .navigation-buttons > button:after {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111;
    background-image: url('/public/storage/icons/chevron.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.image-slider .navigation-buttons button.previous-button:after {
    transform: rotateZ(180deg) translate(50%, 50%);
}
.image-slider .navigation-buttons > button:hover:after {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #111;
}
